/*competences*/
@import "theme";
.competences-container {
    padding: 0;
    width: 80%;
    margin: auto;
    img {
        width: 90px;
    }
    .competences-title {
        text-align: center;
        font-size: 25px;
        margin-bottom: 5px;
        color: var(--text);
    }
    .competences-content {
        background: var(--section-backgground);
        padding: 10px 0;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .languages-container {
        width: 100%;
        margin: auto;
        padding: 10px 0;
        border-radius: 10px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .lang-description {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            margin-top: 10px;
            font-size: 18px;
            padding: 0 50px 0 50px;
            color: var(--text);
            a {
                text-decoration: none;
                color: #2291b1;
                padding: 0 5px;
                font-size: 17px;
                background: -o-linear-gradient(bottom, #089ECA 0%, #089ECA 1px, transparent 1px) no-repeat;
                background: linear-gradient(to top, #089ECA 0%, #089ECA 1px, transparent 1px) no-repeat;
                background-size: 0 100%;
                -webkit-transition-property: background-size,border,border-radius,background,color;
                -o-transition-property: background-size,border,border-radius,background,color;
                transition-property: background-size,border,border-radius,background,color;
                -webkit-transition-duration: 0.3s;
                     -o-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                &.active,&:focus,&:hover {
                    background-size: 100% 100%;
                    border: none;
                    outline: none;
                    color: #2291b1;
                }
            }
        }
        .title {
            color: #777;
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .structure-langs {
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            width: 50%;
            .html-img {
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                margin: auto;
            }
            .html-lang {
                color: #000;
                text-align: center;
            }
        }

        //pour le style
        .style-langs {
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            width: 50%;
            .style-languages {
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                width: 80%;
                margin: auto;
            }
        }

        //js
        .javascript-langs {
            width: 50%;
            margin-top: 50px;
            
            .javascript-languages {
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                width: 80%;
                margin: auto;
            }
        }

        //back-end
        .back-end-langs {
            width: 50%;
            margin-top: 50px;
            .php-languages {
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                width: 50%;
                margin: auto;
                .lang-php {
                    margin-top: 20px;
                }
            }
        }
    }
}
.others {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--section-backgground);
    border-radius: 4px;
    font-size: 18px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.languages-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.languages-img > div {
    margin-left: 10px;
    position: relative;
}
.languages-img .kirundi  {
    margin-left: inherit;
}
.others-title{
    text-align: center;
    color: var(--text);
    font-size: 20px;
    padding: 10px;
}
.others .software,
.others .languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.others .software .title,
.others .languages .title {
    margin-top: 15px;
    color: var(--text);
    font-size: 18px;
    margin-right: 5px;
}
.others img  {
    width: 50px;
    vertical-align: middle;
}
.style-langs .style-languages,
.javascript-langs .javascript-languages,
.back-end-langs .php-languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.others span {
    position: absolute;
    background: #000;
    color: #fff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 4px;
    padding: .5em 1em;
    font-size: 13px;
    -webkit-transition: all .18s ease-out .18s;
    -o-transition: all .18s ease-out .18s;
    transition: all .18s ease-out .18s;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
}
.others span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 2px;
    left: 50%;
    -webkit-transform: translate(-50%, 16px) rotate(45deg);
        -ms-transform: translate(-50%, 16px) rotate(45deg);
            transform: translate(-50%, 16px) rotate(45deg);
}
.languages-img > div:hover span {
    opacity: 1;
    -webkit-transform: translate(-50%, -27px);
        -ms-transform: translate(-50%, -27px);
            transform: translate(-50%, -27px);
}