/*contact*/
.contact-container {
    font-family: "Roboto", sans-serif;
    padding: 0;
    width: 80%;
    margin: auto;
    .title {
      text-align: center;
      font-size: 25px;
      margin-bottom: 5px;
      font-family: sans-serif;
    }
    .contact-content {
      background: #353535;
      padding: 10px 0;
      display: flex;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
      
      .thanking {
        width: 50%;
        p {
          width: 80%;
          text-align: center;
          margin: auto;
          line-height: 30px;
          color: #eee;
        }
      }
      .contact-info {
        width: 50%;
        text-align: center;
        margin: auto;
        padding-bottom: 5px;

        .contact-info1 {
          a {
            text-decoration: none;
            &:hover i,
            &:hover span {
              color: #8b8b8b;
            }
          }
          i {
            display: block;
            margin-bottom: 5px;
            color: #fff;
            font-size: 25px;
            transition: color 0.3s;
          }
          span {
            color: #eee;
            transition: color 0.3s;
          }
          a.phone-number i {
            margin-top: 10px;
          }
        }


        .contact-info2 {
          margin-top: 15px;
          font-size: 20px;
          a {
            position: relative;
            margin-left: 5px;
            background: #fff;
            border-radius: 50%;
            color: #777;
            display: inline-block;
            width: 45px;
            height: 45px;
            transition: all 0.5s;
            &.facebook:hover {
              background: #4267b2;
              color: white;
              box-shadow: 0 0 15px #4267b2;
            }
            
            &.twitter:hover {
              background: #1da1f2;
              color: white;
              box-shadow: 0 0 15px #1da1f2;
            }
            
            &.instagram:hover {
              background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
              color: #fff;
              box-shadow: 0 0 15px #F56040;
            }
            
            &.linkedin:hover {
              background: #2867B2;
              color: #fff;
              box-shadow: 0 0 15px #2867B2;
            }
            
            &.github:hover {
              background: #000;
              color: #fff;
              box-shadow: 0 0 15px #000;
            }
          }
          i {
            transform: translateY(10px);
          }
        }
      }
    }
    .footer {
      background: #1E1E1E;
      text-align: center;
      color: #777;
      font-size: 16px;
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .contact-content {
      display: block;
    }
  
    .thanking {
      width: 100% !important;
      margin: auto;
    }
  
    .contact-info {
      margin-top: 10px !important;
      border-top: 1px solid #000;
      padding: 10px 0;
    }
  }
  @media screen and (max-width: 550px) {
    .contact-info {
      width: 70% !important;
    }
  }
  @media screen and (max-width: 400px) {
    .contact-info {
      width: 90% !important;
    }
  }