@import "theme";
header {
    width: 100%;
    transition: transform 0.5s;
    &.hidden {
        position: fixed;
        top: 0;
        transform: translateY(-130%);
        z-index: 20;
        .content {
        }
    }
    &.visible {
        position: fixed;
        top: 0;
        z-index: 20;
        .content {
            background: var(--initial_color);
        }
        //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .content {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        margin-top: 0.1px;
        transition-property: transform,background;
        .site-brand {
            padding: 20px 0;
            transition: none;
            a {
                text-decoration: none;
                color: var(--text);
                padding: 13px 5px;
                font-size: 20px;
                background: linear-gradient(to top, #089ECA 0%, #089ECA 1px, transparent 1px) no-repeat;
                background-size: 0 100%;
                transition: background-size .3s;
                &.active {
                    background-size: 100% 100%;
                }
            }
        }
        .nav-bar {
            padding: 20px 0;
            a {
                text-decoration: none;
                color: var(--text);
                padding: 10px 5px;
                font-size: 17px;
                background: linear-gradient(to top, #089ECA 0%, #089ECA 1px, transparent 1px) no-repeat;
                background-size: 0 100%;
                transition-property: background-size,border,border-radius,background,color;
                transition-duration: 0.3s;
                &.active,&:focus,&:hover {
                    background-size: 100% 100%;
                    border: none;
                    outline: none;
                    color: #2291b1;
                }
            }
        }
    }
}