header {
    width: 100%;
    transition: transform 0.5s;
    &.hidden {
        position: fixed;
        top: 0;
        transform: translateY(-130%);
        z-index: 20;
        .content {
            background: #fff;
        }
    }
    &.visible {
        position: fixed;
        top: 0;
        z-index: 20;
        .content {
            background: #fff;
        }
        //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: 0.1px;
        transition-property: transform,background;
        .site-logo {
            font-family: 'Indie Flower', cursive;
            font-size: 30px;
            margin-left: 25px;
            width: 15%;
            transition: none;
        }
        .site-logo img {
            width: 100%;
            margin-top: 11px;
        }
        nav {
            padding: 20px 0;
            font-family: sans-serif;
            a {
                text-decoration: none;
                color: #000;
                padding: 10px 5px;
                background: linear-gradient(to top, #34b396 0%, #34b396 2px, transparent 2px) no-repeat;
                background-size: 0 100%;
                transition-property: background-size,border,border-radius,background,color;
                transition-duration: 0.3s;
                &.active,&:focus {
                    background-size: 100% 100%;
                    border: none;
                    outline: none;
                }
                &:hover {
                    border-radius: 0 0 50% 50%;
                    background: #34b396;
                    color: #fff;
                }
            }
        }
    }
}