body.dark-mode {
    --initial_color: #212121;
    --text: #dadada;
    --text-highlight: #F0F0F0;
    --section-backgground: #171515;
    --input-color: #c7c7c7;
}
html, body {
    --initial_color: #f0f0f0;
    --text: #000;
    --section-backgground: #fff;
    --input-color: #122e26f0;
}