@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&family=PT+Sans&display=swap');
@import "variables";
@import "home";
@import "emoji";
@import "header";
@import "competences";
@import "activities";
@import "culture";
@import "contact";
@import "responsive";

.reveal-top {
    opacity: 0;
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
}
.reveal-right {
    opacity: 0;
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
}
.reveal-bottom {
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}
.reveal-left {
    opacity: 0;
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
}
.reveal-visible {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.reveal-1 {
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
}
.reveal-2 {
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
}
.reveal-3 {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
}