@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&family=PT+Sans&display=swap@family=Roboto:wght@400&display=swap');
@import "variables";
@import "home";
@import "emoji";
@import "header";
@import "competences";
@import "activities";
@import "culture";
@import "contact";


@media only screen and (min-width: 1366px) {
    .site-container {
        width: 1330px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 1130px) {
    header,
    .home-content,
    .competences-container,
    .activities-container,
    .culture-container,
    .contact-container {
        width: 90% !important;
    }
}
@media screen and (max-width: 1020px) {
    header,
    .home-content,
    .competences-container,
    .activities-container,
    .culture-container,
    .contact-container {
        width: 95% !important;
    }
    .presentation {
        border: none;
    }
    header .site-logo img{
        margin-top: 15px;
    }
}
@media screen and (max-width: 850px) {
    .home-content {
        width: 100%;
        height: auto;
        position: static;
        transform: none;
    }
    .section-content {
        display: block;
        text-align: center;
    }
    .presentation .description {
        width: 100%;
    }
    .my-picture {
        width: 80%;
        position: relative;
        left: 10%;
        margin-top: 10px;
    }
    header,
    .competences-container,
    .activities-container,
    .culture-container,
    .contact-container {
        width: 100% !important;
    }
    .culture-content {
        padding: 10px 5px !important;
    }
}
@media screen and (max-width: 500px) {
    
}

@media screen and (max-width: 770px) {
    .javascript-languages > div {
        margin-left: 30px;
    }
}
@media screen and (max-width: 715px) {
    .structure-langs {
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 685px) {
    .javascript-languages > div {
        margin-left: 20px;
    }
}
@media screen and (max-width: 620px) {
    .javascript-languages > div {
        margin-left: 10px;
    }
    .structure-langs {
        text-align: center;
    }
    .structure-langs .html-img {
        margin: auto;
    }
}
@media screen and (max-width: 570px) {
    
    .structure-langs .html-img {
        margin: auto;
    }
    .javascript-languages > div {
        margin-left: 0;
    }
}
@media screen and (max-width: 510px) {
    .javascript-languages {
        flex-wrap: wrap;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
    }
    .javascript-languages > div {
        margin-left: 10px;
        margin-top: 20px;
    }
    .back-end-langs .php-languages > div {
        margin-left: 20px;
    }
}