@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&family=PT+Sans&display=swap@family=Roboto:wght@400&display=swap");
.emoji {
  width: 40px;
  height: 40px;
  margin-bottom: -14px;
  background: #FFDA6A;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.emoji:after {
  position: absolute;
  bottom: -40px;
  font-size: 18px;
  width: 60px;
  left: calc(50% - 30px);
  color: #8A8A8A;
}

.emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth, .emoji__tongue, .emoji__heart, .emoji__hand, .emoji__thumb {
  position: absolute;
}
.emoji__face:before, .emoji__face:after, .emoji__eyebrows:before, .emoji__eyebrows:after, .emoji__eyes:before, .emoji__eyes:after, .emoji__mouth:before, .emoji__mouth:after, .emoji__tongue:before, .emoji__tongue:after, .emoji__heart:before, .emoji__heart:after, .emoji__hand:before, .emoji__hand:after, .emoji__thumb:before, .emoji__thumb:after {
  position: absolute;
  content: "";
}

.emoji__face {
  width: inherit;
  height: inherit;
}

.emoji--yay:after {
  content: "";
  animation: yay-reverse 1s linear infinite;
}
.emoji--yay .emoji__face {
  animation: yay 1s linear infinite alternate;
}
.emoji--yay .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 30px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -6px 0 0 0 #000000, -36px 0 0 0px #000000, 6px 0 0 0 #000000, 36px 0 0 0px #000000;
}
.emoji--yay .emoji__eyebrows:before, .emoji--yay .emoji__eyebrows:after {
  width: 36px;
  height: 18px;
  border-radius: 60px 60px 0 0;
  background: transparent;
  border: 6px solid black;
  box-sizing: border-box;
  border-bottom: 0;
  bottom: 3px;
  left: calc(50% - 18px);
}
.emoji--yay .emoji__eyebrows:before {
  margin-left: -21px;
}
.emoji--yay .emoji__eyebrows:after {
  margin-left: 21px;
}
.emoji--yay .emoji__mouth {
  top: 60px;
  background: transparent;
  left: 50%;
}
.emoji--yay .emoji__mouth:after {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: -75px;
  border-radius: 50%;
  background: transparent;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 1;
}
.emoji--yay .emoji__mouth:before {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 3px);
  box-shadow: -25px 0 0 0 #000000, 25px 0 0 0 #000000, -35px -2px 30px 10px #D5234C, 35px -2px 30px 10px #D5234C;
}

.emoji--wow:after {
  content: "";
}
.emoji--wow .emoji__face {
  animation: wow-face 3s linear infinite;
}
.emoji--wow .emoji__eyebrows {
  left: calc(50% - 3px);
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -4px 0 0 0 #000000, -9px 0 0 0 #000000, 9px 0 0 0 #000000, 14px 0 0 0 #000000;
  animation: wow-brow 3s linear infinite;
}
.emoji--wow .emoji__eyebrows:before, .emoji--wow .emoji__eyebrows:after {
  width: 9px;
  height: 8px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -1px;
  left: calc(50% - 12px);
}
.emoji--wow .emoji__eyebrows:before {
  margin-left: 1px;
}
.emoji--wow .emoji__eyebrows:after {
  margin-left: 19px;
}
.emoji--wow .emoji__eyes {
  width: 5px;
  height: 7px;
  left: calc(50% - -1px);
  top: 11px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 5px 0 0 0 #000000, -11px 0 0 0 #000000;
}
.emoji--wow .emoji__mouth {
  width: 9px;
  height: 14px;
  left: calc(50% - 4px);
  top: 50%;
  border-radius: 50%;
  background: #000000;
  animation: wow-mouth 3s linear infinite;
}

@keyframes yay {
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
@keyframes wow-face {
  15%, 25% {
    transform: rotate(10deg) translateX(-10px);
  }
  45%, 65% {
    transform: rotate(-10deg) translateX(10px);
  }
  75%, 100% {
    transform: rotate(0deg) translateX(0);
  }
}
@keyframes wow-brow {
  15%, 65% {
    top: 8px;
  }
  75%, 100%, 0% {
    top: 5px;
  }
}
@keyframes wow-mouth {
  10%, 30% {
    width: 6px;
    height: 8px;
    left: calc(50% - 3px);
  }
  50%, 70% {
    width: 9px;
    height: 12px;
    left: calc(50% - 4px);
  }
  75%, 100% {
    height: 15px;
  }
}
header {
  width: 100%;
  transition-duration: 0.5s;
}
header.hidden {
  position: fixed;
  top: 0;
  transform: translateY(-130%);
  z-index: 20;
}
header.hidden .content {
  background: #fff;
}
header.visible {
  position: fixed;
  top: 0;
  z-index: 20;
}
header.visible .content {
  background: #fff;
}
header .content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 0.1px;
  transition-property: transform, background;
}
header .content .site-logo {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  margin-left: 25px;
  width: 15%;
  transition: none;
}
header .content .site-logo img {
  width: 100%;
  margin-top: 11px;
}
header .content nav {
  padding: 20px 0;
  font-family: sans-serif;
  transition: none;
}
header .content nav a {
  text-decoration: none;
  color: #000;
  padding: 10px 5px;
  background: linear-gradient(to top, #34b396 0%, #34b396 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: all 0.3s;
}
header .content nav a.active, header .content nav a:focus {
  background-size: 100% 100%;
  border: none;
  outline: none;
}
header .content nav a:hover {
  border-radius: 0 0 50% 50%;
  background: #34b396;
  color: #fff;
}

@media screen and (max-width: 750px) {
  header .site-logo img {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 630px) {
  header .site-logo img {
    margin-top: 25px !important;
  }
}
@media screen and (max-width: 530px) {
  header .site-logo {
    width: 30% !important;
  }

  header .site-logo img {
    margin-top: 15px !important;
  }

  header nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: #b8c1f5;
    display: none;
  }

  header nav.visible {
    display: block;
  }

  header nav a {
    display: block;
    text-align: center;
  }

  header nav a:hover {
    border-radius: 0px !important;
  }

  .show-nav-btn {
    display: block !important;
  }

  .show-nav-btn i {
    margin-top: 8px;
    font-size: 20px;
  }
}
.show-nav-btn {
  display: none;
  padding: 10px 5px;
  margin-right: 25px;
  cursor: pointer;
}

.home-content {
  width: 80%;
  height: 92vh;
  background: #f0f0f0;
  border-radius: 10px;
  margin: auto;
}
.home-content .section-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-content .section-content .presentation {
  width: 60%;
  /*border-left: 5px solid #cdf2f8;*/
  padding-left: 30px;
  margin-right: 40px;
}
.home-content .section-content .presentation .presentation-name {
  /*font-family: 'Rock Salt', cursive;
  color: #000;
  font-size: 30px;*/
}
.home-content .section-content .presentation .presentation-name > div {
  margin-bottom: 20px;
}
.home-content .section-content .presentation .presentation-name .hello {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.home-content .section-content .presentation .presentation-name .name {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 0;
}
.home-content .section-content .presentation .presentation-name .name span {
  color: #089ECA;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.home-content .section-content .presentation .presentation-name .hero_name {
  font-size: 18px;
  margin-bottom: 40px;
}
.home-content .section-content .presentation .presentation-name .dev_type {
  display: inline-block;
}
.home-content .section-content .presentation .description > div {
  text-align: center;
  margin: 20px 0;
}
.home-content .section-content .presentation .description {
  width: 418px;
  font-size: 17px;
}
.home-content .section-content .presentation .description button {
  transition: all 0.2s ease-out 0s;
  color: #000;
  letter-spacing: 1.5px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border-width: 1px;
  font-size: 16px;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  border-radius: 10rem;
  padding: 1rem 2rem;
  margin: 0rem;
}
.home-content .section-content .presentation .description button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.home-content .section-content .presentation .description .competences-direction button {
  background: #70c5d4;
}
.home-content .section-content .presentation .description .contact-direction button {
  background: #faed;
}
.home-content .section-content .presentation .editor-line {
  display: flex;
  background: #122e26;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  text-align: left;
  margin-top: 70px;
}
.home-content .section-content .presentation .editor-line .line {
  color: #aca6a6;
}
.home-content .section-content .presentation .editor-line .typed-text {
  color: #fff;
  margin-left: 20px;
}
.home-content .section-content .presentation .editor-line .cursor {
  display: inline-block;
  background: #fff;
  height: 5px;
  width: 2px;
  background: #ccc;
  height: 22px;
  margin: 0px 0 0 2px;
  animation: blink 1s infinite;
}
.home-content .section-content .presentation .editor-line .cursor.typing {
  animation: none;
}
.home-content .section-content .my-picture {
  width: 350px;
  padding: 5px 0;
}
.home-content .section-content .my-picture img {
  width: 100%;
}
.home-content .scrollDown {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 20px;
  left: 50%;
  animation: goDown 1s linear infinite;
}
.home-content .scrollDown a {
  color: #1890ff;
}

@keyframes blink {
  0% {
    background: #ccc;
  }
  45% {
    background: #ccc;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ccc;
  }
}
@keyframes goDown {
  15%, 20% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(4px);
  }
}
/*competences*/
.competences-container {
  font-family: sans-serif;
  padding: 0;
  width: 80%;
  margin: auto;
}
.competences-container img {
  width: 90px;
}
.competences-container .competences-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
}
.competences-container .competences-content {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.competences-container .languages-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}
.competences-container .languages-container .lang-description {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  margin-top: 10px;
  font-size: 17px;
  padding: 0 50px 0 50px;
}
.competences-container .languages-container .structure-langs {
  flex: auto;
  width: 50%;
}
.competences-container .languages-container .structure-langs .title {
  color: #777;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.competences-container .languages-container .structure-langs .html-img {
  width: max-content;
  margin: auto;
}
.competences-container .languages-container .structure-langs .html-lang {
  color: #000;
  text-align: center;
}
.competences-container .languages-container .style-langs {
  flex: auto;
  width: 50%;
}
.competences-container .languages-container .style-langs .title {
  color: #777;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.competences-container .languages-container .style-langs .style-languages {
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.competences-container .languages-container .javascript-langs {
  width: 50%;
  margin-top: 50px;
}
.competences-container .languages-container .javascript-langs .title {
  color: #777;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.competences-container .languages-container .javascript-langs .javascript-languages {
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.competences-container .languages-container .back-end-langs {
  width: 50%;
  margin-top: 50px;
}
.competences-container .languages-container .back-end-langs .title {
  color: #777;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}
.competences-container .languages-container .back-end-langs .php-languages {
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
.competences-container .languages-container .back-end-langs .php-languages .lang-php {
  margin-top: 20px;
}

.others {
  width: 100%;
  margin: auto;
  padding: 10px;
  display: grid;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.languages-img {
  display: flex;
}

.languages-img > div {
  margin-left: 10px;
  position: relative;
}

.languages-img .kirundi {
  margin-left: inherit;
}

.others-title {
  text-align: center;
  color: #000;
  font-size: 20px;
  padding: 10px;
}

.others .software,
.others .languages {
  display: flex;
}

.others .software .title,
.others .languages .title {
  margin-top: 15px;
  color: #000;
  font-size: 18px;
  margin-right: 5px;
}

.others img {
  width: 50px;
  vertical-align: middle;
}

.style-langs .style-languages,
.javascript-langs .javascript-languages,
.back-end-langs .php-languages {
  display: flex;
}

.others span {
  position: absolute;
  background: #000;
  color: #fff;
  width: max-content;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 13px;
  transition: all 0.18s ease-out 0.18s;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.others span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, 16px) rotate(45deg);
}

.languages-img > div:hover span {
  opacity: 1;
  transform: translate(-50%, -27px);
}

/*home*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #f0f0f0;
  font-family: "PT Sans", sans-serif;
}

.site-container {
  background: #cdf2f8;
  background: linear-gradient(49.2deg, #f9ed32 10%, #ee2acd91 55%, #b8c1f5);
  background: #f0f0f0;
}

@media only screen and (min-width: 1366px) {
  .site-container {
    width: 1330px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1130px) {
  header,
.home-content,
.competences-container,
.activities-container,
.culture-container,
.contact-container {
    width: 90% !important;
  }
}
@media screen and (max-width: 1020px) {
  header,
.home-content,
.competences-container,
.activities-container,
.culture-container,
.contact-container {
    width: 95% !important;
  }

  .presentation {
    border: none;
  }

  header .site-logo img {
    margin-top: 15px;
  }
}
@media screen and (max-width: 850px) {
  .home-content {
    width: 100%;
    height: auto;
    position: static;
    transform: none;
  }

  .section-content {
    display: block;
    text-align: center;
  }

  .presentation .description {
    width: 100%;
  }

  .my-picture {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 10px;
  }

  header,
.competences-container,
.activities-container,
.culture-container,
.contact-container {
    width: 100% !important;
  }

  .culture-content {
    padding: 10px 5px !important;
  }
}
@media screen and (max-width: 770px) {
  .javascript-languages > div {
    margin-left: 30px;
  }
}
@media screen and (max-width: 715px) {
  .structure-langs {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 685px) {
  .javascript-languages > div {
    margin-left: 20px;
  }
}
@media screen and (max-width: 620px) {
  .javascript-languages > div {
    margin-left: 10px;
  }

  .structure-langs {
    text-align: center;
  }

  .structure-langs .html-img {
    margin: auto;
  }
}
@media screen and (max-width: 570px) {
  .structure-langs .html-img {
    margin: auto;
  }

  .javascript-languages > div {
    margin-left: 0;
  }
}
@media screen and (max-width: 510px) {
  .javascript-languages {
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
  }

  .javascript-languages > div {
    margin-left: 10px;
    margin-top: 20px;
  }

  .back-end-langs .php-languages > div {
    margin-left: 20px;
  }
}
/*activities*/
.activities-container {
  font-family: "Roboto", sans-serif;
  padding: 0;
  width: 80%;
  margin: auto;
}

.activities-content {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.activities-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
}

.activities > div {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 5px 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.activities > div:hover img {
  filter: brightness(0.5) blur(1px) brightness(0.5);
  transform: scale(1.1);
}

.activities > div:hover .description {
  transform: translate(0, -100%);
}

.activities > div:hover a.site-direction {
  transform: translateX(0);
  opacity: 1;
}

.activities-container img {
  width: 100%;
  transition: all 1s;
  border: 1px solid #00000014;
}

.activities .description {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  color: #fff;
  text-align: center;
  transition: transform 0.18s cubic-bezier(0.42, 0, 0.61, 1.26) 0.18s;
  transform-origin: bottom;
}

.activities .description .title {
  font-size: 20px;
  font-weight: 700;
  color: #39ad8c;
}

.activities .description p {
  font-size: 18px;
}

.activities .description a.site-direction {
  color: #ffbc00;
  display: block;
  font-size: 40px;
  opacity: 0;
  transform: translateX(100%);
  padding: 5px 10px;
  transition: all 0.8s;
  transition-delay: 0.18s;
  text-decoration: none;
}

.activities .description a.site-direction:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}

/*culture*/
.culture-container {
  font-family: "Roboto", sans-serif;
  padding: 0;
  width: 80%;
  margin: auto;
}

.culture-container .title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.culture-content {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.culture-content nav {
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}

.culture-content nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: #777;
}

.culture-content nav a.active {
  color: #000;
}

.playlist-direction {
  position: absolute;
  background: #000;
  width: max-content;
  border-radius: 4px;
  padding: 0.5em 1em !important;
  font-size: 13px;
  transition: all 0.18s ease-out 0.18s;
  transform: translate(0, -40px);
  transform-origin: bottom;
  opacity: 0;
  z-index: -1;
}

.playlist-direction::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, 16px) rotate(45deg);
}

.playlist-direction a {
  color: #fff !important;
  padding: 10px;
  transition: color 0.3s;
}

.playlist-direction a:hover {
  color: #777 !important;
}

.playlist-direction.active {
  opacity: 1;
  transform: translate(0, -55px);
  z-index: 1;
}

.culture-content .culture {
  position: relative;
}

.culture-content .culture a {
  height: max-content;
  display: block;
  position: absolute;
  transition: filter 0.3s;
}

.culture-content .culture.filted a.disabled {
  pointer-events: none;
  filter: blur(0.5px) brightness(0.2);
}

.culture-content .culture.filted a.visible {
  filter: none !important;
}

.culture-content .culture img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-item-0 {
  width: 30%;
  z-index: 1;
}

.grid-item-1 {
  width: 15%;
  left: 30%;
  z-index: 1;
}

.grid-item-2 {
  width: 55.1%;
  z-index: 2;
  right: 0%;
}

.grid-item-3 {
  width: 16.8%;
  z-index: 1;
  top: 29.5%;
  left: 30%;
}

.grid-item-4 {
  width: 15%;
  z-index: 1;
  top: 39.5%;
}

.grid-item-5 {
  width: 30%;
  z-index: 1;
  left: 15%;
  top: 39.5%;
}

.grid-item-6 {
  width: 15%;
  z-index: 1;
  top: 59%;
}

.grid-item-7 {
  width: 15%;
  left: 15%;
  z-index: 1;
  top: 61.9%;
}

.grid-item-8 {
  width: 15%;
  left: 30%;
  z-index: 1;
  top: 61.9%;
}

.grid-item-9 {
  width: 15%;
  left: 30%;
  z-index: 1;
  top: 71.5%;
}

.grid-item-10 {
  width: 15%;
  left: 30%;
  z-index: 1;
  top: 81%;
}

.grid-item-11 {
  width: 30%;
  z-index: 1;
  top: 89%;
}

.grid-item-12 {
  width: 15%;
  left: 30%;
  z-index: 1;
  top: 89%;
}

.grid-item-13 {
  width: 15%;
  left: 30%;
  z-index: 4;
  top: 89%;
}

.grid-item-14 {
  width: 15%;
  left: 30%;
  z-index: 4;
  top: 104.5%;
}

.grid-item-15 {
  width: 15%;
  left: 30%;
  z-index: 4;
  top: 115.5%;
}

.grid-item-16 {
  width: 27.5%;
  left: 45%;
  z-index: 3;
  top: 43.5%;
}

.grid-item-17 {
  width: 27.6%;
  right: 0;
  z-index: 3;
  top: 43.5%;
}

.grid-item-18 {
  width: 55.1%;
  right: 0%;
  z-index: 4;
  top: 97.5%;
}

.grid-item-19 {
  width: 30%;
  z-index: 1;
  top: 129.5%;
}

.grid-item-20 {
  width: 18%;
  left: 30%;
  z-index: 5;
  top: 145.5%;
}

.grid-item-21 {
  width: 15.9%;
  left: 45%;
  z-index: 6;
  top: 138.5%;
}

.grid-item-22 {
  width: 11.9%;
  left: 60.9%;
  z-index: 6;
  top: 135%;
}

.grid-item-23 {
  width: 11.9%;
  left: 72.5%;
  z-index: 6;
  top: 138%;
}

.grid-item-24 {
  width: 23.5%;
  left: 60.9%;
  z-index: 7;
  top: 152.5%;
}

.grid-item-25 {
  width: 15.9%;
  right: 0%;
  z-index: 6;
  top: 138.5%;
}

.culture span {
  position: absolute;
  background: #000;
  color: #fff;
  width: max-content;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 13px;
  transition: all 0.18s ease-out 0.18s;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
  opacity: 0;
  z-index: 5;
}

.culture span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, 16px) rotate(45deg);
}

.culture a:hover span {
  opacity: 1;
  transform: translate(-50%, -125%);
}

/*contact*/
.contact-container {
  font-family: "Roboto", sans-serif;
  padding: 0;
  width: 80%;
  margin: auto;
}

.contact-container .title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.contact-content {
  background: #353535;
  padding: 10px 0;
  display: flex;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  .contact-content {
    display: block;
  }

  .thanking {
    width: 100% !important;
    margin: auto;
  }

  .contact-info {
    margin-top: 10px !important;
    border-top: 1px solid #000;
    padding: 10px 0;
  }
}
@media screen and (max-width: 550px) {
  .contact-info {
    width: 70% !important;
  }
}
@media screen and (max-width: 400px) {
  .contact-info {
    width: 90% !important;
  }
}
.thanking {
  width: 50%;
}

.thanking p {
  width: 80%;
  text-align: center;
  margin: auto;
  line-height: 30px;
  color: #eee;
}

.contact-info {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
}

.contact-info1 a {
  text-decoration: none;
}

.contact-info1 a:hover i,
.contact-info1 a:hover span {
  color: #8b8b8b;
}

.contact-info1 i {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 25px;
  transition: color 0.3s;
}

.contact-info1 span {
  color: #eee;
  transition: color 0.3s;
}

.contact-info1 a.phone-number i {
  margin-top: 10px;
}

.contact-info2 {
  margin-top: 15px;
  font-size: 20px;
}

.contact-info2 a {
  position: relative;
  margin-left: 5px;
  background: #fff;
  border-radius: 50%;
  color: #777;
  display: inline-block;
  width: 45px;
  height: 45px;
  transition: all 0.5s;
}

.contact-info2 i {
  transform: translateY(10px);
}

.contact-info2 a.facebook:hover {
  background: #4267b2;
  color: white;
  box-shadow: 0 0 15px #4267b2;
}

.contact-info2 a.twitter:hover {
  background: #1da1f2;
  color: white;
  box-shadow: 0 0 15px #1da1f2;
}

.contact-info2 a.instagram:hover {
  background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
  color: #fff;
  box-shadow: 0 0 15px #F56040;
}

.contact-info2 a.linkedin:hover {
  background: #2867B2;
  color: #fff;
  box-shadow: 0 0 15px #2867B2;
}

.contact-info2 a.github:hover {
  background: #000;
  color: #fff;
  box-shadow: 0 0 15px #000;
}

.footer {
  background: #1E1E1E;
  text-align: center;
  color: #777;
  font-size: 16px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
